* {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  -webkit-overflow-scrolling: touch;
}

.ellip {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.display {
	display: block;
}

.none {
	display: none;
}

/* flex-box 関係*/
.flx {
	display: flex;
}

/* flex-direction */
.fdrr {
	flex-direction: row-reverse;
}
.fdc {
	flex-direction: column;
}
.fdcr {
	flex-direction: column-reverse;
}

/* flex-wrap */
.fww {
	flex-wrap: wrap;
}
.fwr {
	flex-wrap: wrap-reverse;
}

/* justify-content */
.jcfe {
	justify-content: flex-end;
}
.jcc {
	justify-content: center;
}
.jcsb {
	justify-content: space-between;
}
.jcsa {
	justify-content: space-around;
}

/* justify-content */
.aic {
	align-items: center;
}
.aifs {
	align-items: flex-start;
}
.aife {
	align-items: flex-end;
}
.aib {
	align-items: baseline;
}

/* align-content */
.acfs {
	align-content: flex-start;
}
.acfe {
	align-content: flex-end;
}
.acc {
	align-content: center;
}
.acsb {
	align-content: space-between;
}
.acsa {
	align-content: space-around;
}



#bottom {
	width: 80vw;
}

a {
	text-decoration: none;
	color: inherit;
	font: inherit;
}

.button {
	cursor: default;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.circle {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

#wrapper {
	/*
	border: solid 1px blue;
	*/
	width: 100vw;
	height: 87vh;
	padding-bottom: 0vh;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

inner{
	width: 100%;
}

#top_menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
}