body {
    background-color: #d5d5d5;
    font-size: 0.8em;
}

#title {
	margin-top: 50px;
}

.mutter {
    width: 98vw;
	margin: auto;
}

.scroll {
	width: 100%;
	font-size: large;
	text-align: center;
	margin-top: 1vh;
}

.info {
    width: 100%;
    max-width: 1024px;
	margin: 2vh auto auto auto;
}

.sensitive {
	width: 100%;
	text-align: center;
	color: red;
	background-color: azure;
	color: gray;
	padding: 0vw 2vw;
}

.tweet_media {
    width: 98vw;
	max-height: 85vh;
	margin: 1vh auto auto auto;
}

.tweet_media_vertical {
    width: 98vw;
	margin: 1vh auto auto auto;
}

.media_box{
	display: flex;
	align-items: baseline;
	height: auto;
}

.media_box_vertical{
    width: 98vw;
	height: auto;

	margin: 1vh 1vw auto auto;
}

.imgs_wrapper {
	display: flex;
	direction: rtl;

	max-width: 97vw;
	max-height: 90vh;

	overflow: auto;
	margin: auto;
}

.imgs_wrapper_vertical {
	margin: auto;
}

.img_wrapper {
	display: block;

	width: auto;
	height: auto;
	max-width: 96vw;
	max-height: 90vh;
	border: solid 1px lightgray;

	margin: 0 0 0 0.5vh;
}

.img_wrapper_vertical {
	display: block;

	width: auto;
	height: auto;
	max-width: 96vw;
}

.img_wrapper img, video, object {
	display: block;
	width: auto;
	height: auto;
	max-width: 96vw;
	max-height: 85vh;
}

.img_wrapper_vertical img, video, object {
	display: block;
	width: auto;
	height: auto;
	border: solid 1px lightgray;
	margin: auto;
}

.icon {
	width: 52px;
	padding-top: 8px;
}

.icon img {
	width: 48px;
	margin: auto;
	border-radius: 50%;
}
.profile {
	width : -webkit-calc(100% - 52px);
	width : -moz-calc(100% - 52px);
	width : calc(100% - 52px);
}
.repeat {
	border-radius: 25%;
	background-color: lightgreen;
}

.account {
	white-space: nowrap;
	overflow: hidden;
}

.account .name {
	max-width: 70%;
}
.account .date {
	font-size: small;
	max-width: 30%;
}
.account .rt {
	font-size: 12px;
}
.account .rt img {
	height: 16px;
	width: auto;
}
.account_name{
	color: gray;
	font-size: small;
}

.text{
	width: 100%;
	height: auto;
	max-height: 7.5em;
	overflow-x: hidden;
	oveflow-y: auto;
}

#bottom {
	margin: auto auto 25vh auto;
}

#timeline_menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	max-width: 1024px;
	background-color: #96858f;
    color: whitesmoke;
	height: 46px;
	padding-bottom: 0px;
	/*
	box-shadow: 0px 5px 5px rgba(255, 255, 255, 1);
	*/
	margin: auto;
}
#timeline_menu div {
	background-color: lightgray;
	width: 34px;
	height: 34px;
}

#timeline_menu div img {
	width: 32px;
	height: 32px;
}

#mylist {
  position: fixed;
  top: 0;
  right: -340px; /* メニューのwidth + padding */
  width: 40vwpx; /* メニューのwidth */
  height: 100%;
  padding: 20px;
  transition: left .5s, right .5s; /* アニメーション */
  background-color: rgba(173, 216, 230, .9);
  overflow: auto;
}

#operation {
  position: fixed;
  bottom: 0;
  right: -340px; /* メニューのwidth + padding */
  width: 40vwpx; /* メニューのwidth */
  height: 100%;
  padding: 20px;
  transition: left .5s, right .5s; /* アニメーション */
  background-color: rgba(173, 216, 230, .9);
  overflow: auto;
}

#operation.after {
  position: fixed;
  bottom: 0;
  right: 0; /* メニューのwidth + padding */
}

.rton {
	font-weight: bold;
	text-shadow: 0 0 0 green;
}
.rtoff {
}
.favon {
}
.favoff {
}

.goods {
  background-color: white;
  padding: 0em 1em 0em 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  max-height: 3em;
  overflow: auto;
}

#affiliate {
	background-color:azure;
	position:fixed;
	bottom:0px;
	width:100%;
	padding-top:1vh;
	z-index:100;
}

.amazlet-box{
	margin-bottom: 0px;
	width: 50%;
	margin: auto;
}