body {
	width: 80vw;
	min-width: 256px;
	max-width: 1024px;
	margin: auto;
}

ul, ol {
  padding: 0;
}

.trend li {
  position: relative;
  list-style-type: none!important;/*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  background: #dbebf8;
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
}

.trend li:before{ 
  display:inline-block; 
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}

.mylist li {
  position: relative;
  list-style-type: none!important;/*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  background: #dbcbf8;
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
}

.mylist li:before{ 
  display:inline-block; 
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}

h3 {
  position: relative;
  color: #333;
  display: inline-block;
  text-shadow: 0 0 2px white;
  text-align: center;
  width: 100%;
  margin: 5vh auto 5vh auto;
}

h3:before {
  content: "";
  position: absolute;
  background: #a9e1ff;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  top: 50%;
  border: dashed 1px white;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1;
  box-shadow: 0px 0px 0px 5px #a9e1ff;
}

.breadcrumb {
  margin-left: 0;
  padding-left: 0;
}

.breadcrumb li {
  position: relative;
  display:inline-block;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
  margin-right: 12px;
  margin-bottom: 1vh;
  width: 100%;
}
.breadcrumb li:after {/*三角の部分*/
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-style: solid;
  border-color: transparent;
  border-left-color: #aedfc6;/*背景色*/
  border-width: 21px 12px;
  width: 0;
  height: 0;
}

.breadcrumb li a {
  display: inline-block;
  padding: 1vh;
  height: 42px;
  width: 100%;
  line-height: 28px;
  text-decoration: none;
  color: #747772;
  background: #aedfc6;/*背景色*/
  font-size: 18px;
}

.breadcrumb li a:hover {
  color: #FFF;
}


/*--------------------------------------
テキスト
---------------------------------------*/

.msr_text_05 {
  padding-bottom: 20px;
  width: 100%;
}
.msr_text_05 label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_text_05 input[type=text] {
  background: #fff;
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  height: 40px;
  width: 50vw;
}

/*--------------------------------------
チェックボックス
---------------------------------------*/

.msr_chack_05 {
  padding-bottom: 20px;
}
.msr_chack_05 p {
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_chack_05 input[type=checkbox] {
  display: none;
  margin: 0;
}
.msr_chack_05 input[type=checkbox] + label {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5px;
  margin-right: 12px;
  padding: 0 0 0 24px;
  position: relative;
}
.msr_chack_05 input[type=checkbox] + label::before {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  margin-top: -9px;
  position: absolute;
  left: 0;
  top: 50%;
  height: 16px;
  width: 16px;
}
.msr_chack_05 input[type=checkbox]:checked + label::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
}
.msr_chack_05 input[type=checkbox]:checked + label::after {
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  left: 3px;
  margin-top: -6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  height: 6px;
  width: 10px;
}

/*--------------------------------------
プルダウン
---------------------------------------*/

.msr_pulldown_05 {
  padding-bottom: 20px;
  position: relative;
  width: 230px;
}
.msr_pulldown_05 p {
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_pulldown_05 select {
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  background:#FFFFFF;
  border: 1px solid #999999;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
  position:relative;
  height: 40px;
  width: 230px;
}
.msr_pulldown_05 label{
  position:relative;
}
.msr_pulldown_05 label::after {
  content:"";
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  right: 16px;
  height: 8px;
  margin-top: -5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position:absolute;
  top:50%;
  width: 8px;
}


/*--------------------------------------
テキストエリア
---------------------------------------*/

.msr_textarea_05 {
  padding-bottom: 10px;
  width: 460px;
}
.msr_textarea_05 label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_textarea_05 textarea {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 13px;
  padding: 10px;
  height: 210px;
  width: 460px;
}

/*--------------------------------------
送信ボタン
---------------------------------------*/
.msr_sendbtn_05{
  margin:0 0 10px 10px;
}

.msr_sendbtn_05 input[type=submit] {
  background-color: #FFFFFF;
  border:1px solid #999999;
  border-radius: 2px;
  color: #333333;
  cursor:pointer;
  display: block;
  font-size: 14px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 180px;
}
.msr_sendbtn_05 input[type=submit]:hover {
  background-color: #999999;
  color: #FFFFFF;
}
.msr_sendbtn_05 input[disabled=disabled] {
  cursor:default;
  opacity: 0.5;
}
.msr_sendbtn_05 input[disabled=disabled]:hover {
  background-color: #FFFFFF;
  color: #333333;
}

.form_parts {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

////////////////////////////////////////////////////////////////////////

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* body */
body {
  background: #e9e9e9;
  color: #5e5e5e;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
}

/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}