@media screen and (max-width:1024px) {
	.flex_parent{
		display: flex;
		flex-wrap: wrap;
		width:100%;
	}

	body {
		padding:1vw;
	}

	#content {
		max-width: 1024px;
	}
	
	h1 {
		margin: auto;
	}
	
	.trend_parent {
		margin: auto;
		padding-top: 10px;
	}
}